In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("movies_dataset.csv")
df.columns

C:\Users\Usuario\AppData\Local\Temp\ipykernel_9320\2264196880.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("movies_dataset.csv")

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [6]:
df = df[["title", "overview", "vote_average", "vote_count"]]
df

,title,overview,vote_average,vote_count
0,Toy Story,"Led by Woody, Andy's toys live happily in his ...",7.7,5415.0
1,Jumanji,When siblings Judy and Peter discover an encha...,6.9,2413.0
2,Grumpier Old Men,A family wedding reignites the ancient feud be...,6.5,92.0
3,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",6.1,34.0
4,Father of the Bride Part II,Just when George Banks has recovered from his ...,5.7,173.0
...,...,...,...,...
45461,Subdue,Rising and falling between a man and woman.,4.0,1.0
45462,Century of Birthing,An artist struggles to finish his work while a...,9.0,3.0
45463,Betrayal,"When one of her hits goes wrong, a professiona...",3.8,6.0
45464,Satan Triumphant,"In a small town live two brothers, one a minis...",0.0,0.0
45465,Queerama,50 years after decriminalisation of homosexual...,0.0,0.0

In [7]:
df.to_csv("ML_dataset.csv", index = False)